---
import Introduction from "../components/Introduction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ManuDev JS Full Stack Developer.">
  <main>
    <Introduction />
  </main>
</Layout>
