---
import Badge from "./Badge.astro";

---

<header class="flex justify-between my-5">
  <a href="/" class="font-bold">Manu<span class="font text-blue-500">Dev</span></a>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
  <a href="#linkedIn"><Badge>Hire me!</Badge></a>
</header>