---
import Badge from "./Badge.astro";
import LabelTitle from "./LabelTitle.astro";
import Linkedin from "./icons/Linkedin.astro";
import Javascript from "./icons/Javascript.astro";
import Node from "./icons/Node.astro";
import Php from "./icons/Php.astro";
import React from "./icons/React.astro";
import AstroLogo from "./icons/AstroLogo.astro";
import Github from "./icons/Github.astro";
---

<div class="flex justify-between items-center gap-x-5 pt-10">
  <div class="w-3/5">
    <LabelTitle>Introduction</LabelTitle>
    <h1 class="font-black text-6xl leading-relaxed">
      Hey, I'm ManuDev a Professional JS Developer.
      <Badge>Hire me!</Badge>
    </h1>
    <h2>
      More than 5 years of experience in the development of web applications.
      From Madrid, Spain. Im proficient in ui design, user experience and JS web
      development. I am also capable of defending in PHP and creating simple
      back-end services.
    </h2>
  </div>
  <div class="flex w-2/5">
    <img src="./public/user.jpg" alt="Manuel" class="rounded-xl" />
  </div>
</div>
<div class="flex justify-between gap-x-8 pt-10">
  <div class="w-3/5">
    <LabelTitle>Find Me</LabelTitle>
    <div class="flex gap-x-2 pt-4">
      <a href="https://www.linkedin.com/in/manuel-del-castillo-garzon/">
        <Linkedin clase="fill-blue-500 w-10 h-10" />
      </a>
      <a href="https://github.com/kaarmaan13" target="_blank">
        <Github clase="fill-blue-500 w-10 h-10" />
      </a>
    </div>
  </div>
  <div class="w-2/5">
    <LabelTitle>Best Skills on</LabelTitle>
    <div class="flex gap-x-8 pt-4">
      <Javascript clase="w-10 h-10" />
      <Node clase="w-10 h-10" />
      <React clase="w-10 h-10" />
      <AstroLogo clase="w-10 h-10" />
      <Php clase="w-10 h-10" />
    </div>
  </div>
</div>
